@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background-color: #666666;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}
body h1 {
  display: block;
  float: top;
  color: #22BBBB;
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  margin: 30px;
  padding: 5px;
  text-shadow: 4px 4px 3px #111111;
}

.topic h2 {
  display: block;
  float: top;
  color: #22FFFF;
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  margin: 30px;
  padding: 5px;
  text-shadow: 4px 4px 3px #111111;
}
.topic {
  background-image: linear-gradient(to right, #553333, #221111);
  border-radius: 15px;
  margin: 30px;
  padding: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 7px #111111;
}
.topic p {
  float: left;
  text-shadow: 4px 4px 3px #111111;
  display: block;
}
.topic img {
  float: right;
  display: inline;
  max-height: 300px;
  max-width: 100%;
  border: 5px solid linear-gradient(to top, #334444, #556666);
  border-radius: 7px;
  margin: 7px;
}

/*set the text inside the website*/
p {
  padding: 30px;
  padding-top: 5px;
  margin: 50px;
  margin-top: 10px;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #000000;
  font-family: 'Montserrat', sans-serif;
  max-width: 70%;
}
/* add styling to the navigation bar */
.nav {
  float: top;
  top: 0;
  position: fixed;
  display: block;
  width: 100%;
  background-color: #556677;
  overflow: visible;
  box-shadow: 0px 4px 10px #333333;
  font-family: 'Montserrat', sans-serif;
}
/*styles text in nav bar */
.nav p.credits {
  float: right;
  color: #113344;
  padding: 14px 16px;
  margin: 0px;
  text-shadow: none;
}

/* Style the links inside the navigation bar */
.nav .dropdown a {
  display: inline;
  float: left;
  color: #AAFFFF;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
}
/*Sets up the drop down*/
.nav .dropdown .dropdown-content {
  position: relative;
  float: left;
  display: none;
  min-width: 160px;
}
.nav .dropdown .dropdown-content ul {
  background-color: #334444;
  list-style: none;
  text-decoration: none;
  color: #99EEEE;
  list-style: none;
  position: absolute;
  float: left;
  text-indent: 0px;
  overflow: visible;
}
.nav .dropdown:hover .dropdown-content {
  display: block;
}

/* Change the color of links in nav bar on hover */
.nav a:hover {
  animation: fadeInAnimation ease 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #222222;
}
@keyframes fadeInAnimation {
  0% {
  }
  100% {
    background-color: #339999;
  }
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #334455;
  color: #77AAAA;
}
